.cl_page {
    /*border: 1px solid black;*/
    display: none;
    min-height: 100vh;
    padding: 20px;
}

.cl_page.active {
    display: block;
}


.cl_pageHeader {
    position: relative;

    margin-bottom: 30px;
    padding: 18px 25px;

    border-radius: 8px;

    background: linear-gradient(
        135deg,
        #ffffff66,
        #7bc3f366
    );
    box-shadow:
        inset -2px 2px 2px 0 #fffa,
        -4px 4px 4px 0 #0002;
}

.cl_h1_pageHeader {
    margin: 0;
    padding-left: 10px;

    font-size: 3rem;
    font-weight: bold;

    /*color: #0965e777;*/
    /*color: #5d7e7077;*/
    color: #5d7e7077;

    text-shadow:
        -1px  1px 2px #fff,
       1px -1px 1px #0006;
}

/*> This is quite good: <*/
/*
.cl_h1_pageHeader {
    margin: 0;
    padding-left: 10px;

    font-size: 5rem;
    font-weight: bold;

    color: #0f448e22;

    text-shadow:
        -1px  1px 2px #fff,
       1px -1px 1px #0006;
}
*/

.cl_sidebarItem {
    margin: 0;
    padding-left: 10px;

    /*font-size: 3rem;*/
    font-weight: bold;

    /*color: #5d7e7077;*/
    color: #2d3d3677;

    text-shadow:
        -1px  1px 1px #fff6,
       1px -1px 1px #0003;
}



#id_sec_pages {
    min-height: 100vh;
    /*overflow-y: scroll;*/
    margin-left: 180px;
    /*padding: 20px;*/
}


#id_div_page_home h1 {
    color: red;
    font-family: "Bodoni Moda";
    font-weight: 700;
    font-optical-sizing: auto;
}





